aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
async-timeout
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
curl_cffi
dataclasses-json
decorator
distro
duckduckgo_search
exceptiongroup
executing
faiss-cpu
frozendict
frozenlist
gitdb
GitPython
greenlet
h11
httpcore
httpx
httpx-sse
idna
ipython
jedi
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lxml
MarkupSafe
marshmallow
matplotlib-inline
multidict
multitasking
mypy_extensions
narwhals
numpy
openai
orjson
ormsgpack
packaging
pandas
parso
peewee
pexpect
pillow
platformdirs
primp
prompt_toolkit
propcache
protobuf
ptyprocess
pure_eval
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pypdf
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rpds-py
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
streamlit
tenacity
tiktoken
toml
tornado
tqdm
traitlets
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
watchdog
wcwidth
websockets
xxhash
yarl
yfinance
zstandard